rdev-comments-component {
  .comments-container {
    display: flex;
    flex-direction: column;
    background: grey;
    color: white;
  }

  .info-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
    padding: 5px;
    color: #585858;
    background: aliceblue;
  }

  .meta {
    display: flex;
    flex-direction: column;
  }

  .text-body {
    padding: 10px;
    background: white;
    color: black;
    font-size: 1.3em;
  }
}